@import url('fonts.css');
body{
    width: auto;
    height: auto;
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    position: relative;
    color: #1e272e;
    background-color: #dcdde1;
}
    .body-index{
    width: auto;
    height: auto;
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    position: relative;
    color: #1e272e;
    background-color: #d2dae2;
    }
header{
    width: 100%;
    padding: 25px;
    font-size: 20px;
    position: fixed;
    top: 0;
    background-color: #d2dae2;
    user-select: none;
}
    #header-span{
        margin-right: 30px;
        font-size: 50px;
        font-weight: 600;
        user-select: text;
    }
    #header-span-a{
        margin-right: 30px;
        font-size: 50px;
        font-weight: 600;
    }
    #header-a{
        margin-left: 6px;
        margin-right: 8px;
    }
    #header-a-right{
        padding-left: 40%;
        text-align: right;
    }
    #header-span-mark{
        margin-left: 6px;
        margin-right: 8px;
        color: #005500;
    }
a:link{color: #1e272e; text-decoration: none;}
a:visited{color: #1e272e;}
a:hover{color: #005500;}
a:active{color: #005500;}
.div-root{
    width: auto;
    height: auto;
    max-width: fit-content;
    padding-left: 40px;
    padding-top: 140px;
    padding-right: 40px;
    padding-bottom: 40px;
}
/* projects */
    .div-root-proContent{
        width: auto;
        height: auto;
        padding-left: 20px;
        padding-bottom: 2px;
        line-height: 40%;
        user-select: none;
    }
/* researches */
    .div-root-resContent{
        width: auto;
        height: auto;
        padding-left: 20px;
        padding-bottom: 2px;
        line-height: 40%;
        user-select: none;
    }
/* A&C */
    .div-root-acContact{
        width: auto;
        height: auto;
        padding-top: 28px;
        float: left;
        left: 0;
        line-height: 145%;
        user-select: none;
    }
        #div-root-acContact-span{
            user-select: text;
        }
    .div-root-acContent{
        width: auto;
        height: auto;
        padding-left: 50px;
        float: right;
        right: 0;
        user-select: none;
    }
        .div-root-acContent-edu{
            width: auto;
            height: auto;
            padding-right: 60px;
            float: left;
        }
            .div-root-acContent-eduDetail{
                width: auto;
                height: auto;
                padding-bottom: 2px;
                line-height: 40%;
            }
        .div-root-acContent-other{
            width: auto;
            height: auto;
            float: right;
        }
            .div-root-acContent-other-pro{
                width: auto;
                height: auto;
            }
                .div-root-acContent-other-proDetail{
                    width: auto;
                    height: auto;
                    padding-bottom: 2px;
                    line-height: 40%;
                }
            .div-root-acContent-res{
                width: auto;
                height: auto;
            }
                .div-root-acContent-resDetail{
                    width: auto;
                    height: auto;
                    padding-bottom: 2px;
                    line-height: 40%;
                }
/* content */
.div-coRoot{
    width: auto;
    height: auto;
    max-width: fit-content;
    padding-left: 40px;
    padding-top: 110px;
    padding-right: 40px;
    padding-bottom: 40px;
    user-select: none;
}
    .div-coRoot-coDirectory{
        width: 240px;
        height: auto;
        float: right;
        position: fixed;
        right: 40px;
        font-size: 12px;
    }
        .div-coRoot-coDirectoryContent{
            height: 440px;
            padding-left: 6px;
            overflow:auto;
        }
    .div-coRoot-coContent{
        width: auto;
        height: auto;
        padding-right: 320px;
        float: left;
        word-break:break-all;
    }
        #div-coRoot-coNotice-h1{
            text-align: center;
        }
        .div-coRoot-coNotice{
            width: auto;
            height: auto;
            padding-top: 10px;
            font-weight: 800;
            text-align: center;
            color: #c23616;
        }
            #div-coRoot-coNotice-p{
                line-height: 1px;
                color: Transparent;
            }