a:link{color:Black; text-decoration: none;}
a:visited{color:Black;}
a:hover{color:Darkgreen;}
a:active{color:Darkgreen;}
.index-header{
    width: 100%;
    height: 100%;
    background-color: Transparent;
    text-align: center;
    line-height: 600px;
    margin: auto;
    font-family: Monospace;
    font-size: 18px;
    letter-spacing: 0.2px;
    user-select: none;
}
#index-a{
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
#index-kb{
    width: 100%;
    height: 100%;
    background-color: Transparent;
    text-align: center;
    line-height: 500px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Monospace;
    font-size: 40px;
    letter-spacing: 1px;
    user-select: text;
}