@import url('fonts.css');
html{
    width: 100%;
    height: auto;
    margin: 0;
    font-family: Inter, Noto Sans SC, Noto Sans TC;
    font-size: 10px;
    color: #1e272e;
}
body{
    margin: 0;
    background-color: #dcdde1;
}
    .body-index{
        background-color: #d2dae2;
    }
header{
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 2rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #d2dae2;
    user-select: none;
}
    #header-span{
        margin-right: 30px;
        font-size: 5rem;
        font-weight: 600;
        user-select: text;
    }
    #header-span-a{
        margin-right: 30px;
        font-size: 50px;
        font-weight: 600;
    }
    #header-a{
        margin-left: 6px;
        margin-right: 8px;
    }
    #header-span-mark{
        margin-left: 6px;
        margin-right: 8px;
        color: #005500;
    }
a:link{color: #1e272e; text-decoration: none;}
a:visited{color: #1e272e;}
a:focus{transition: color .3s ease-in-out; color: #005500;}
a:hover{color: #005500;}
a:active{color: #005500;}
.div-root{
    max-width: fit-content;
    padding-left: 40px;
    padding-top: 140px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 1.4rem;
}
/* projects */
    .div-root-proContent{
        padding-left: 20px;
        padding-bottom: 2px;
        line-height: 40%;
        user-select: none;
    }
/* blogs */
    .div-root-blogContent{
        padding-left: 20px;
        padding-bottom: 2px;
        line-height: 40%;
        user-select: none;
    }
/* researches */
    .div-root-resContent{
        padding-left: 20px;
        padding-bottom: 2px;
        line-height: 40%;
        user-select: none;
    }
/* A&C */
    .div-root-acContact{
        padding-top: 28px;
        float: left;
        left: 0;
        line-height: 145%;
        user-select: none;
    }
        #div-root-acContact-span{
            user-select: text;
        }
    .div-root-acContent{
        padding-left: 50px;
        float: right;
        right: 0;
        user-select: none;
    }
        .div-root-acContent-edu{
            padding-right: 60px;
            float: left;
        }
            .div-root-acContent-eduDetail{
                padding-bottom: 2px;
                line-height: 40%;
            }
        .div-root-acContent-other{
            float: right;
        }
            .div-root-acContent-other-pro{
                width: auto;
                height: auto;
            }
                .div-root-acContent-other-proDetail{
                    padding-bottom: 2px;
                    line-height: 40%;
                }
            .div-root-acContent-res{
                width: auto;
                height: auto;
            }
                .div-root-acContent-resDetail{
                    padding-bottom: 2px;
                    line-height: 40%;
                }
/* content */
.div-coRoot{
    max-width: fit-content;
    padding-left: 40px;
    padding-top: 110px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-size: 1.6rem;
    user-select: none;
}
    .div-coRoot-coDirectory{
        width: 220px;
        float: right;
        position: fixed;
        right: 40px;
        font-size: 1.2rem;
    }
        .div-coRoot-coDirectoryContent{
            height: 440px;
            padding-left: 6px;
            overflow:auto;
        }
    .div-coRoot-coContent{
        padding-right: 300px;
        padding-bottom: 60px;
        float: left;
        text-align: justify;
        /*word-wrap: break-word;*/
        word-break:keep-all;
        user-select: text;
    }
        #div-coRoot-coContent-h1{
            text-align: center;
            user-select: none;
        }
        #div-coRoot-coContent-dateAndMark{
            font-size: 1.2rem;
            line-height: 0px;
            text-align: center;
            color: #485460;
            user-select: none;
        }
        #div-coRoot-coContent-chageWord{
            color: #959ca4;
        }
        .div-coRoot-coNotice{
            padding-top: 10px;
            font-size: 1.4rem;
            font-weight: 800;
            text-align: center;
            color: #c23616;
            user-select: none;
        }
            #div-coRoot-coNotice-p{
                line-height: 0px;
                color: Transparent;
            }
        .div-coRoot-coContent-form{
            padding-top: 40px;
            padding-bottom: 20px;
            font-size: 1.4rem;
            line-height: 150%;
            text-align: center;
        }